<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-4">
        <div class="card bg-info text-white rounded-0">
          <div class="card-body rounded-0 text-center">
            <h4 class="m-0">{{ dailyGains | currency }}</h4>
            Daily Gains
          </div>
          <div class="text-right text-light rounded-0 p-2 card-footer">
            <small>
              <i class="fas fa-sync-alt"></i>
              Updated Recently
            </small>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-success text-white rounded-0">
          <div class="card-body rounded-0 text-center">
            <h4 class="m-0">{{ weeklyGains | currency }}</h4>
            Weekly Gains
          </div>
          <div class="text-right text-light rounded-0 p-2 card-footer">
            <small>
              <i class="fas fa-sync-alt"></i>
              Updated Recently
            </small>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-warning text-white rounded-0">
          <div class="card-body rounded-0 text-center">
            <h4 class="m-0">{{ monthlyGains | currency }}</h4>
            Monthly Gains
          </div>
          <div class="text-right text-light rounded-0 p-2 card-footer">
            <small>
              <i class="fas fa-sync-alt"></i>
              Updated Recently
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">d</div>
</div>