<h4>{{ title | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white border-0 bg-transparent p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

<div class="card rounded rounded-0">
  <div class="card-body rounded-0" *ngIf="!users.length">
    <div class="alert alert-info m-0 rounded-0" role="alert">
      There are no any resources to show here.
    </div>
  </div>
  <div class="card-body rounded-0 p-0" *ngIf="users.length">
    <table class="table m-0">
      <thead>
        <tr>
          <th class="border-0" scope="col">#</th>
          <th class="border-0" scope="col">FULL NAME</th>
          <th class="border-0" scope="col">E-MAIL</th>
          <th class="border-0" scope="col">PHONE</th>
          <th class="border-0" scope="col">LOCATION</th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr [class.table-info]="authService.currentUser.email === user.email" *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
          <td>{{ i+1 }}</td>
          <td class="align-middle"><a class="font-weight-bold text-info" [routerLink]="['/user/' + user.id + '/profile']">{{ user.firstName }} {{ user.lastName }}</a></td>
          <td class="align-middle">{{ user.email }}</td>
          <td class="align-middle">{{ user.phoneNumber ? user.phoneNumber : 'Unknown' }}</td>
          <td class="align-middle">{{ user.province ? user.province : 'Unknown' }}, {{ user.city ? user.city : 'Unknown' }}</td>
          <td class="text-right">
            <i *ngIf="authService.currentUser.email != user.email && authService.currentUser.typ == 'Officer'" style="cursor: pointer" (click)="onDelete(table)" class="text-danger far fa-times-circle"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer rounded-0 text-center text-muted d-flex align-items-center justify-content-between">
    <small>TOTAL USERS: {{ users.length }}</small>
    <ngb-pagination size="sm" [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length"></ngb-pagination>
  </div>
</div>