<h4>{{ title | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
  </ol>
</nav>

<a routerLink="/product/new" class="btn btn-sm btn-info float-right mb-3 px-5">Create a New Product</a>

<div class="clearfix"></div>

<div class="card rounded-0">
  <div class="card-body rounded-0" *ngIf="!products.length">
    <div class="alert alert-primary m-0 rounded-0" role="alert">
      There are no any resources to show here.
    </div>
  </div>
  <div class="card-body p-0" *ngIf="products.length">
    <table class="table m-0">
      <thead>
        <tr>
          <th class="border-0" scope="col">#</th>
          <th class="border-0" scope="col">PRODUCT NAME</th>
          <th class="border-0" scope="col">PRICE</th>
          <th class="border-0" scope="col">TAX</th>
          <th class="border-0" scope="col">TOTAL</th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i+1 }}</td>
            <td class="align-middle">{{ product.productName }}</td>
            <td class="align-middle">{{ product.price | currency }}</td>
            <td class="align-middle">{{ product.tax }}%</td>
            <td class="align-middle">{{ product.price + (product.price * product.tax / 100) | currency }}</td>
            <td class="text-right">
              <a style="cursor: pointer; text-decoration: none !important" [routerLink]="['/product/' + product.id + '/edit']" class="text-info far fa-edit mr-2"></a>
              <i style="cursor: pointer" (click)="onDelete(product)" class="text-danger far fa-times-circle"></i>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center text-muted rounded-0">
    <small>TOTAL PRODUCTS: {{ products.length }}</small>
  </div>
</div>