<div class="bg-white px-5 py-3">
  <div class="row d-flex align-items-center">
    <div class="col">
      <h4 class="m-0">{{ title | uppercase }}</h4>
      <nav class="d-none d-sm-block" aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
    </div>
    <div class="col text-right d-block d-lg-none">
      <a routerLink="/product/new" class="btn btn-primary rounded-circle shadow-sm">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <div class="col text-right d-none d-lg-block">
      <a routerLink="/product/new" class="btn btn-sm btn-primary rounded-pill px-5 py-2 shadow-sm">
        Create a New Table
      </a>
    </div>
  </div>
</div>

<div class="p-5">
  <div *ngIf="!products.length" class="alert alert-primary m-0 text-center" role="alert">
    <i style="font-size: 200%" class="fas fa-info-circle d-block mb-1"></i>
    There are no any products to show here.
  </div>
  
  <div *ngIf="products.length" class="row px-2">
    <div class="col-sm-12 col-md-12 col-lg-4 pt-0 pr-2 pb-2 pl-2" *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="bg-white shadow-sm rounded p-3">
        <div class="row d-flex align-items-center">
          <div class="col-sm-6">
            <small class="text-uppercase font-weight-bold d-block">Product Name</small>
            {{ product.productName }}
          </div>
          <div class="col-sm-2">
            <small class="text-uppercase font-weight-bold d-block">Total</small>
            {{ product.price + (product.price * product.tax / 100) | currency }}
          </div>
          <div class="col-sm-4 text-right">
            <a [routerLink]="['/product/' + product.id + '/edit']" class="btn btn-sm btn-outline-primary rounded-circle mr-1">
              <i class="fas fa-sync-alt"></i>
            </a>
            <button class="btn btn-sm btn-outline-danger rounded-circle" (click)="onDelete(product)" *ngIf="authService.currentUser.typ == 'Officer'">
              <i class="fas fa-eraser"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="products.length" class="text-muted mt-2">
    <div class="row d-flex align-items-center">
      <div class="col d-none d-sm-block"><small>TOTAL PRODUCTS: {{ products.length }}</small></div>
      <div class="col d-flex flex-row-reverse"><ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.length"></ngb-pagination></div>
    </div>
  </div>
</div>