<div class="card rounded-0">
    <div class="card-body rounded-0" *ngIf="!products.length">
      <div class="alert alert-info m-0 rounded-0" role="alert">
        There are no any resources to show here.
      </div>
    </div>
    <div class="card-body p-0" *ngIf="products.length">
      <table class="table table-hover m-0">
        <thead>
          <tr>
            <th class="border-0" scope="col">#</th>
            <th class="border-0" scope="col">PRODUCT</th>
            <th class="border-0" scope="col">TABLE</th>
            <th class="border-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="confirmProduct(product)" style="cursor: pointer" *ngFor="let product of products; let i = index">
            <td class="align-middle">{{ i+1 }}</td>
            <td class="align-middle">
              {{ product.product.productName }} x
              {{ product.quantity }}
              ({{ (product.product.price + (product.product.price * product.product.tax / 100)) * product.quantity | currency }})
            </td>
            <td>{{ product.order.table.tableName }}</td>
            <td class="align-middle text-right">
              <i *ngIf="!product.isDone && !product.isServed" class="text-warning fas fa-exclamation-circle"></i>
              <i *ngIf="product.isDone && !product.isServed" class="text-success fas fa-check"></i>
              <i *ngIf="product.isDone && product.isServed" class="text-info fas fa-check-double"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center text-muted rounded-0">
      <small>TOTAL PRODUCTS: {{ products.length }}</small>
    </div>
  </div>