<div class="row">
  <div class="col">
    <div class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>{{ title }}</span>
      </div>
      <div *ngIf="!methods.length" class="card-body rounded-0">
        <div class="alert alert-primary m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div *ngIf="methods.length" class="card-body rounded-0 p-0">
        <table class="table table-borderless m-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">PAYMENT METHOD NAME</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let method of methods; let i = index">
              <td class="align-middle">{{ i+1}}</td>
              <td class="align-middle">{{ method.name }}</td>
              <td class="text-right">
                <i style="cursor: pointer" (click)="onDelete(method)" class="text-danger far fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer rounded-5 text-center text-muted">
        <span>TOTAL PAYMENT METHODS: {{ methods.length }}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>CREATE A NEW PAYMENT METHOD</span>
      </div>
      <div class="card-body rounded-0">
        <form [formGroup]="form" autocomplete="off">
          <div class="form-group">
            <label>Payment Method Name</label>
            <input formControlName="name" class="form-control rounded-pill" [ngClass]="{ 'is-invalid': submitted && field.name.errors }"/>
            <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
              <div *ngIf="field.name.errors.required">The name field is required.</div>
              <div *ngIf="field.name.errors.maxlength">The name field must be 45 characters at most.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right rounded-5">
        <button class="btn btn-sm btn-outline-secondary rounded-pill px-5" (click)="reset(form)">Reset</button>
        <button class="btn btn-sm btn-primary rounded-pill ml-2 px-5" (click)="onSubmit(form)">Submit</button>
      </div>
    </div>
  </div>
</div>