<div class="row">
  <div class="col">
    <div class="card bg-light rounded-0">
      <div class="card-header text-center rounded-0">
        {{ title }}
      </div>
      <div class="card-body rounded-0" *ngIf="!products.length">
        <div class="alert alert-primary m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div class="card-body rounded-0 p-0" *ngIf="products.length">
        <table class="table table-striped table-borderless m-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">PRODUCT NAME</th>
              <th scope="col">PRICE</th>
              <th scope="col">TAX</th>
              <th scope="col">TOTAL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i+1 }}</td>
              <td class="align-middle">{{ product.productName }}</td>
              <td class="align-middle">{{ product.price | currency }}</td>
              <td class="align-middle">{{ product.tax }}%</td>
              <td class="align-middle">{{ product.price + (product.price * product.tax / 100) | currency }}</td>
              <td class="text-right">
                <i style="cursor: pointer" (click)="onDelete(product)" class="text-danger far fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer rounded-0 text-center text-secondary">
        Total Products: {{ products.length }}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-light rounded-0">
      <div class="card-header text-center rounded-0">
        CREATE A NEW PRODUCT
      </div>
      <div class="card-body rounded-0">
        <form [formGroup]="form" autocomplete="off">
          <div class="form-group">
            <label>Product Name</label>
            <input formControlName="productName" class="form-control rounded-0" [ngClass]="{ 'is-invalid': submitted && field.productName.errors }"/>
            <div *ngIf="submitted && field.productName.errors" class="invalid-feedback">
              <div *ngIf="field.productName.errors.required">The product name field is required.</div>
              <div *ngIf="field.productName.errors.maxlength">The product name field must be 35 characters at most.</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>Price</label>
              <input formControlName="price" class="form-control rounded-0" [ngClass]="{ 'is-invalid': submitted && field.price.errors }"/>
              <div *ngIf="submitted && field.price.errors" class="invalid-feedback">
                <div *ngIf="field.price.errors.required">The price field is required.</div>
                <div *ngIf="field.price.errors.pattern">The price field must be numeric and 9 digits at most.</div>
              </div>
            </div>
            <div class="col">
              <label>Tax</label>
              <input formControlName="tax" class="form-control rounded-0" [ngClass]="{ 'is-invalid': submitted && field.tax.errors }"/>
              <div *ngIf="submitted && field.tax.errors" class="invalid-feedback">
                <div *ngIf="field.tax.errors.required">The tax field is required.</div>
                <div *ngIf="field.tax.errors.pattern">The tax field must be numeric and 9 digits at most.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer rounded-0 text-right text-secondary">
        <button class="btn btn-secondary btn-sm rounded-0 mr-2" (click)="reset(form)">Reset</button>
        <button class="btn btn-primary btn-sm rounded-0" (click)="onSubmit(form)">Submit</button>
      </div>
    </div>
  </div>
</div>