<div class="bg-white px-5 py-3">
  <div class="row d-flex align-items-center">
    <div class="col">
      <h4 class="m-0">{{ title | uppercase }}</h4>
      <nav class="d-none d-sm-block" aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Payment Methods</li>
        </ol>
      </nav>
    </div>
    <div class="col text-right d-block d-lg-none">
      <a routerLink="/payment-method/new" class="btn btn-primary rounded-circle shadow-sm">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <div class="col text-right d-none d-lg-block">
      <a routerLink="/payment-method/new" class="btn btn-sm btn-primary rounded-pill px-5 py-2 shadow-sm">Create a New Payment Method</a>
    </div>
  </div>
</div>

<div class="p-5">
  <div *ngIf="!methods.length" class="alert alert-primary m-0 text-center" role="alert">
    <i style="font-size: 200%" class="fas fa-info-circle d-block mb-1"></i>
    There are no any payment methods to show here.
  </div>
  
  <div *ngIf="methods.length" class="row px-2">
    <div class="col-md-6 col-lg-4 col-xl-3 pt-0 pr-2 pb-2 pl-2" *ngFor="let method of methods | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="bg-white rounded shadow-sm p-3">
        <div class="row d-flex align-items-center">
          <div class="col">
            <small class="text-uppercase font-weight-bold d-block">Name</small>
            {{ method.name }}
          </div>
          <div class="col text-right">
            <a [routerLink]="['/payment-method/' + method.id + '/edit']" class="btn btn-sm btn-outline-primary rounded-circle mr-1">
              <i class="fas fa-sync-alt"></i>
            </a>
            <button class="btn btn-sm btn-outline-danger rounded-circle" (click)="onDelete(method)" *ngIf="authService.currentUser.typ == 'Officer'">
              <i class="fas fa-eraser"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="methods.length" class="text-muted mt-2">
    <div class="row d-flex align-items-center">
      <div class="col d-none d-sm-block"><small>TOTAL METHODS: {{ methods.length }}</small></div>
      <div class="col d-flex flex-row-reverse"><ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="methods.length"></ngb-pagination></div>
    </div>
  </div>
</div>