<div class="row">
  <div class="col">
    <button class="btn btn-outline-secondary btn-sm rounded-pill px-5 mb-2" [routerLink]="['/orders']">
      <i class="fas fa-chevron-left"></i>
      Back to the Orders
    </button>
  </div>
  
  <div class="w-100"></div>

  <div class="col">
    <div class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>ORDER: {{ order.orderName }}</span>
      </div>
      <div *ngIf="!orderProductService.orderProducts.length" class="card-body rounded-0">
        <div class="alert alert-primary m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div *ngIf="orderProductService.orderProducts.length" class="card-body rounded-0 p-0">
        <table class="table table-borderless m-0">
          <tbody>
            <tr [ngClass]="setClass(product)" *ngFor="let product of orderProductService.orderProducts; let i = index">
              <td class="d-flex justify-content-between align-items-center">
                <div>
                  {{ i+1 }}.
                  {{ product.product.productName }} x {{ product.quantity }}
                  <div class="badge badge-warning rounded-pill px-3 ml-2" *ngIf="!product.isDone && !order.isPaid">Pending</div>
                  <div class="badge badge-primary rounded-pill px-3 ml-2" *ngIf="product.isDone && !order.isPaid">Ready</div>
                </div>
                <div>
                  {{ (product.product.price + (product.product.price * product.product.tax / 100)) * product.quantity | currency }}
                  <i (click)="confirmProduct(product)" *ngIf="!product.isDone" style="cursor: pointer;" class="text-success fas fa-check-circle ml-2"></i>
                  <i (click)="onDelete(product)" *ngIf="!product.isDone" style="cursor: pointer;" class="text-danger fas fa-arrow-circle-right ml-2"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td class="d-flex justify-content-between align-items-center">
                <strong>TOTAL</strong>
                <strong>{{ total | currency }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer rounded-0 text-center text-secondary">
        TOTAL PRODUCTS IN CURRENT ORDER: {{ orderProductService.orderProducts.length }}
      </div>
    </div>

    <div class="clearfix"></div>

    <button [disabled]="total == 0" class="btn btn-secondary btn-sm rounded-pill px-5 mt-2 float-right">
      PRINT CURRENT ORDER
    </button>

    <div class="clearfix"></div>

    <hr *ngIf="!order.isPaid">

    <div *ngIf="!order.isPaid" class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>COMPLETE ORDER</span>
      </div>
      <div class="card-body rounded-0">
        <form [formGroup]="form" autocomplete="off">
          <div class="form-group row">
            <div class="col">
              <select formControlName="paymentMethodID" class="form-control form-control-sm rounded-pill" [ngClass]="{ 'is-invalid': submitted && field.paymentMethodID.errors }">
                <option [value]="method.id" *ngFor="let method of methods">{{ method.name }}</option>
              </select>
              <div *ngIf="submitted && field.paymentMethodID.errors" class="invalid-feedback">
                <div *ngIf="field.paymentMethodID.errors.required">The payment metod field is required.</div>
              </div>
            </div>
            <div class="col">
              <button (click)="completeOrder(total, form)" [disabled]="total == 0" class="btn btn-primary btn-block btn-sm rounded-pill">
                Complete the Order
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer rounded-0 text-center text-secondary">
        TOTAL: {{ total | currency }}
      </div>
    </div>

  </div>

  <div class="col">
    <div *ngIf="order.isPaid" class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>THIS ORDER HAS BEEN PAID</span>
      </div>
      <div class="card-body rounded-0">
        <div class="alert alert-success rounded-0 m-0" role="alert">
          <i class="fas fa-check"></i>
          This order has been paid on {{ payment.createdAt | date }} for <strong>{{ payment.total | currency }}</strong> as {{ payment.paymentMethod?.name }}.
        </div>
      </div>
      <div class="card-footer rounded-0 text-center text-secondary">
        This order has been paid on {{ payment.createdAt | date }} for {{ payment.total | currency }} as {{ payment.paymentMethod?.name }}. Therefore, you cannot insert a new product to this order.
      </div>
    </div>

    <div *ngIf="!order.isPaid" class="card rounded-5">
      <div class="card-header text-center rounded-5">
        <span>ADD A NEW PRODUCT TO THE ORDER</span>
      </div>
      <div *ngIf="!products.length" class="card-body rounded-0">
        <div class="alert alert-primary m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div *ngIf="products.length" class="card-body rounded-0 p-0">
        <table class="table table-borderless m-0">
          <tbody>
            <tr style="cursor: pointer;" (click)="onSubmit(product)" *ngFor="let product of products">
              <td class="d-flex justify-content-between align-items-center">
                <span><i class="text-primary fas fa-arrow-circle-left"></i> {{ product.productName }}</span>
                <span>{{ product.price + (product.price * product.tax / 100) | currency }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center text-muted rounded-5">
        TOTAL PRODUCTS: {{ products.length }}
      </div>
    </div>
  </div>
</div>