<h4>{{ title | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

<a routerLink="/order/new" class="btn btn-info btn-sm float-right mb-3 px-5 py-2">Create a New Order</a>

<div class="clearfix"></div>

<div class="card rounded-0">
  <div class="card-body rounded-0" *ngIf="!orders.length">
    <div class="alert alert-info m-0 rounded-0" role="alert">
      There are no any resources to show here.
    </div>
  </div>
  <div class="card-body p-0" *ngIf="orders.length">
    <table class="table m-0">
      <thead>
        <tr>
          <th class="border-0" scope="col">#</th>
          <th class="border-0" scope="col">ORDER NAME</th>
          <th class="border-0" scope="col">TABLE</th>
          <th class="border-0" scope="col">TOTAL</th>
          <th class="border-0 text-center" scope="col">STATUS</th>
          <th class="border-0" scope="col">WAITER</th>
          <th class="border-0" scope="col">CREATED AT</th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
          <td>{{ i+1 }}</td>
          <td class="align-middle"><a class="text-info font-weight-bold" [routerLink]="['/order/' + order.id + '/view']">{{ order.orderName }}</a></td>
          <td class="align-middle">{{ order.table.tableName }}</td>
          <td class="align-middle">{{ order.total | currency }}</td>
          <td class="align-middle text-center">
            <i *ngIf="!order.isPaid" class="text-warning fas fa-exclamation-circle mr-1"></i>
            <small *ngIf="!order.isPaid" class="text-warning font-weight-bold">UNPAID</small>

            <i *ngIf="order.isPaid" class="text-success fas fa-check-circle mr-1"></i>
            <small *ngIf="order.isPaid" class="text-success font-weight-bold">PAID</small>
          </td>
          <td>{{ order.waiter.firstName }} {{ order.waiter.lastName }}</td>
          <td>{{ order.createdAt | date:'dd.MM.yyyy, hh:MM:ss' }}</td>
          <td class="text-right">
            <a [routerLink]="['/order/' + order.id + '/view']" class="btn btn-outline-info btn-sm px-3">
              <i class="far fa-eye"></i> View
            </a>
            <button class="btn btn-outline-danger btn-sm px-3 ml-2" (click)="onDelete(order)" *ngIf="authService.currentUser.typ == 'Officer' || !order.isPaid">
              <i class="far fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center text-muted rounded-0 d-flex align-items-center justify-content-between">
    <small>TOTAL ORDERS: {{ orders.length }}</small>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="orders.length"></ngb-pagination>
  </div>
</div>