<div class="bg-white px-5 py-3">
  <div class="row d-flex align-items-center">
    <div class="col">
      <h4 class="m-0">{{ title | uppercase }}</h4>
      <nav class="d-none d-sm-block" aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
      </nav>
    </div>
    <div class="col text-right d-block d-lg-none d-flex justify-content-end">
      <span class="d-none d-sm-block mr-1"><input type="text" [(ngModel)]="keyword" class="form-control rounded-pill text-center" placeholder="Search Order"></span>
      <span>
        <a routerLink="/order/new" class="btn btn-primary rounded-circle shadow-sm">
          <i class="fas fa-plus"></i>
        </a>
      </span>
    </div>
    <div class="col d-none d-lg-block">
      <div class="row">
        <div class="col">
          <input type="text" [(ngModel)]="keyword" class="form-control rounded-pill text-center" placeholder="Search Order">
        </div>
        <div class="col">
          <a routerLink="/order/new" class="btn btn-sm btn-primary btn-block rounded-pill py-2 shadow-sm">
            Create
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5">
  <div *ngIf="!orders.length" class="alert alert-primary m-0 w-25 mx-auto text-center" role="alert">
    <i style="font-size: 200%" class="fas fa-info-circle d-block mb-1"></i>
    There are no any orders to show here.
  </div>

  <div *ngIf="orders.length" class="row px-2">
    <div class="col-xl-6 pt-0 pr-2 pb-2 pl-2" *ngFor="let order of orders | orderFilter: keyword | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <a [routerLink]="['/order/' + order.id + '/view']"  class="bg-white rounded shadow-sm d-block text-decoration-none text-dark p-3">
        <div class="row d-flex align-items-center">
          <div class="col-sm">
            <small class="text-uppercase font-weight-bold">Table</small> <br> 
            {{ order.table?.tableName }}
          </div>
          <div class="col-sm">
            <small class="text-uppercase font-weight-bold">Total</small> <br> 
            {{ order.total | currency }}
          </div>
          <div class="col-sm d-none d-xl-block">
            <small class="text-uppercase font-weight-bold">Waiter</small> <br> 
            {{ order.waiter.firstName + ' ' + order.waiter.lastName }}
          </div>
          <div class="col-sm">
            <small class="text-uppercase font-weight-bold">Status</small> <br> 
            <span *ngIf="order.isPaid">
              <i class="text-success fas fa-circle"></i>
              Paid
            </span>
            <span *ngIf="!order.isPaid">
              <i class="text-warning fas fa-circle"></i>
              Pending
            </span>
            <div class="d-block d-sm-none pb-2"></div>
          </div>
          <div class="col-sm text-right">
            <button class="btn btn-sm btn-outline-danger rounded-circle" (click)="onDelete(order, $event);false" *ngIf="authService.currentUser.typ == 'Officer'">
              <i class="fas fa-eraser"></i>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>
    
  <div *ngIf="orders.length" class="text-muted mt-2">
    <div class="row d-flex align-items-center">
      <div class="col d-none d-sm-block"><small>TOTAL ORDERS: {{ orders.length }}</small></div>
      <div class="col d-flex flex-row-reverse"><ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="orders.length"></ngb-pagination></div>
    </div>
  </div>
</div>