<div class="row px-3">
  <div class="col-4 p-1">
    <a routerLink="/" class="d-block text-decoration-none bg-info py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-tachometer-alt"></i>
      </h5>
      <strong>Home</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/tables" class="d-block text-decoration-none bg-warning py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-th-large"></i>
      </h5>
      <strong>Tables</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/products" class="d-block text-decoration-none bg-danger py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-drumstick-bite"></i>
      </h5>
      <strong>Products</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/kitchen" class="d-block text-decoration-none bg-success py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-utensils"></i>
      </h5>
      <strong>Kitchen</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/payment-methods" class="d-block text-decoration-none bg-primary py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-dollar-sign"></i>
      </h5>
      <strong>P. Methods</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/orders" class="d-block text-decoration-none bg-secondary py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-concierge-bell"></i>
      </h5>
      <strong>Orders</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/payments" class="d-block text-decoration-none bg-dark py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-hand-holding-usd"></i>
      </h5>
      <strong>Payments</strong>
    </a>
  </div>
  <div class="col-4 p-1">
    <a routerLink="/users" class="d-block text-decoration-none bg-danger py-3 text-center text-uppercase text-white">
      <h5 class="font-weight-bold">
        <i class="fas fa-user-friends"></i>
      </h5>
      <strong>Users</strong>
    </a>
  </div>
</div>