<div  class="list-group list-group-flush">
  <a href="#" class="font-weight-bold border-light text-info list-group-item px-0">Homepage</a>
  <a href="#" class="font-weight-bold border-light text-info list-group-item px-0">Table</a>
  <a href="#" class="font-weight-bold border-light text-info list-group-item px-0">Products</a>
  <a href="#" class="font-weight-bold border-light text-info list-group-item px-0">Payment Methods</a>
  <a href="#" class="font-weight-bold border-light text-info list-group-item px-0">Orders</a>
</div >