<div class="bg-white rounded-0 border-0 px-5 py-3">
  <h4>{{ title | uppercase }}</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
</div>

<div class="p-5 text-center">
  <img src="https://bit.ly/2Joge68" style="height: 250px" alt=""> <br>

  <a routerLink="/" class="btn btn-sm btn-primary rounded-pill px-5 py-2 mt-3 shadow-sm">Back to the Home</a>
</div>