<div class="bg-white px-5 py-3">
  <h4 class="m-0">{{ title | uppercase }}</h4>
  <nav class="d-none d-sm-block" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payments</li>
    </ol>
  </nav>
</div>

<div class="p-5">
  <div *ngIf="!payments.length" class="alert alert-primary m-0 w-25 mx-auto text-center" role="alert">
    <i style="font-size: 200%" class="fas fa-info-circle d-block mb-1"></i>
    There are no any payments to show here.
  </div>
  
  <div *ngIf="payments.length" class="row px-2">
    <div class="col-md-12 col-xl-6 pt-0 pr-2 pb-2 pl-2" *ngFor="let payment of payments | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
      <div class="bg-white rounded shadow-sm p-3">
        <div class="row d-flex align-items-center">
          <div class="col-sm-2">
            <small class="text-uppercase font-weight-bold">Table</small> <br> 
            {{ payment.order.table.tableName }}
            <div class="d-block d-md-none pb-2"></div>
          </div>
          <div class="col-sm-8">
            <small class="text-uppercase font-weight-bold">Payment</small> <br> 
            {{ payment.total | currency }} ({{ payment.paymentMethod?.name }}) at {{ payment.createdAt | date:'dd.MM.yyyy, H:MM:ss' }}
            <div class="d-block d-md-none pb-2"></div>
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-sm btn-outline-danger rounded-circle" (click)="onDelete(payment, $event);false" *ngIf="authService.currentUser.typ == 'Officer'">
              <i class="fas fa-eraser"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="payments.length" class="text-muted mt-2">
    <div class="row d-flex align-items-center">
      <div class="col d-none d-sm-block"><small>TOTAL PAYMENTS: {{ payments.length }}</small></div>
      <div class="col d-flex flex-row-reverse"><ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="payments.length"></ngb-pagination></div>
    </div>
  </div>
</div>