<h4>{{ title | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white border-0 bg-transparent p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tables</li>
  </ol>
</nav>

<a routerLink="/table/new" class="btn btn-sm btn-info float-right mb-3 px-5 py-2">Create a New Table</a>

<div class="clearfix"></div>

<div class="card rounded rounded-0">
  <div class="card-body rounded-0" *ngIf="!tables.length">
    <div class="alert alert-info m-0 rounded-0" role="alert">
      There are no any resources to show here.
    </div>
  </div>
  <div class="card-body rounded-0 p-0" *ngIf="tables.length">
    <table class="table m-0">
      <thead>
        <tr>
          <th class="border-0" scope="col">#</th>
          <th class="border-0" scope="col">TABLE NAME</th>
          <th scope="col" class="border-0 text-center">STATUS</th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tables | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
          <td>{{ i+1 }}</td>
          <td class="align-middle">{{ table.tableName }}</td>
          <td class="align-middle text-center">
            <i *ngIf="table.isAvailable" class="text-success fas fa-check-circle mr-1"></i>
            <small *ngIf="table.isAvailable" class="font-weight-bold text-success">AVALIABLE</small>

            <i *ngIf="!table.isAvailable" class="text-warning fas fa-exclamation-circle mr-1"></i>
            <small *ngIf="!table.isAvailable" class="text-warning font-weight-bold">UNAVALIABLE</small>
          </td>
          <td class="text-right">
            <a [routerLink]="['/table/' + table.id + '/edit']" class="btn btn-outline-info btn-sm px-3">
              <i class="far fa-edit"></i> Edit
            </a>
            <button class="btn btn-outline-danger btn-sm px-3 ml-2" (click)="onDelete(table)" *ngIf="authService.currentUser.typ == 'Officer'">
              <i class="far fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer rounded-0 text-center text-muted d-flex align-items-center justify-content-between">
    <small>TOTAL TABLES: {{ tables.length }}</small>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="tables.length"></ngb-pagination>
  </div>
</div>