<div class="bg-white px-5 py-3">
  <h4 class="m-0">{{ title | uppercase }}</h4>
  <nav class="d-none d-sm-block" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0 m-0 rounded-0 border-0">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/orders">Orders</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
</div>

<div class="p-5">
  <a routerLink="/orders" class="btn btn-sm btn-outline-secondary rounded-pill px-5 mb-3">
    Back
  </a>
  
  <div class="bg-white p-3 shadow-sm rounded">
    <form [formGroup]="form" autocomplete="off">
      <div class="form-group row">
        <div class="col-lg">
          <label>Order Name</label>
          <input formControlName="orderName" class="form-control rounded-pill" [ngClass]="{ 'is-invalid': submitted && field.orderName.errors }"/>
          <div *ngIf="submitted && field.orderName.errors" class="invalid-feedback">
            <div *ngIf="field.orderName.errors.required">The order name field is required.</div>
            <div *ngIf="field.orderName.errors.maxlength">The order name field must be 35 characters at most.</div>
          </div>
          <div class="d-block d-sm-none pb-3"></div>
        </div>
        <div class="col-lg">
          <label>Table</label>
          <select [attr.disabled]="id ? '' : null"
            class="form-control rounded-pill" [ngClass]="{ 'is-invalid': submitted && field.tableID.errors }" (change)="setName($event.target)"
            formControlName="tableID">
            <option [value]="table.id" *ngFor="let table of tables">{{ table.tableName }}</option>
          </select>
          <div *ngIf="submitted && field.tableID.errors" class="invalid-feedback">
            <div *ngIf="field.tableID.errors.required">The table field is required.</div>
          </div>
        </div>
      </div>
      <div class="text-right d-none d-sm-block">
        <button class="btn btn-sm btn-primary rounded-pill shadow-sm px-5 py-2 mr-1" (click)="onSubmit(form)">Create</button>
        <button class="btn btn-sm btn-secondary rounded-pill shadow-sm px-5 py-2" (click)="reset(form)">Reset</button>
      </div>

      <div class="text-right d-block d-sm-none">
        <button class="btn btn-primary rounded-circle shadow-sm mr-1" (click)="onSubmit(form)">
          <i class="far fa-save"></i>
        </button>
        <button class="btn btn-secondary rounded-circle shadow-sm" (click)="reset(form)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </form>
  </div>
</div>