<div *ngIf="!result" class="card bg-light rounded-0">
  <div class="rounded-0 text-center card-header">
    <h6>{{ table.tableName | uppercase }}</h6>
    <small class="text-muted">NO ORDER</small>
  </div>
  <div class="rounded-0 card-body">
    <div class="alert alert-info m-0 rounded-0 text-center" role="alert">
      No order found on <strong>{{ table.tableName }}.</strong> 
      You can 
      <button 
        [routerLink]="['/order/new']" 
        [queryParams]="{ table: table.id }" 
        class="btn btn-info btn-sm py-0 px-3" 
        matDialogClose>create
      </button> 
      a new order on this table.
    </div>
  </div>
</div>

<div *ngIf="result" class="card bg-light rounded-0">
  <div class="rounded-0 text-center card-header">
    <h6>{{ order.table?.tableName | uppercase }}</h6>
    <small>{{ order.orderName | uppercase }}</small>
  </div>
  <div *ngIf="!products.length" class="rounded-0 card-body">
    <div class="alert alert-info m-0 rounded-0 text-center" role="alert">
      There are no any resourches to show here.
      You can
      <button
        [routerLink]="['/order/' + order.id + '/view']"
        class="btn btn-info btn-sm py-0 px-3" 
        matDialogClose>add
      </button> 
      product(s) on this table.
    </div>
  </div>
  <div *ngIf="products.length" class="card-body rounded-0 p-0">
    <table class="table m-0">
      <thead>
        <tr>
          <th class="border-0" scope="col">#</th>
          <th class="border-0" scope="col">PRODUCT</th>
          <th class="border-0 text-right" scope="col">PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td class="align-middle">{{ i+1 }}</td>
          <td class="align-middle">
            {{ product.product.productName }} x {{ product.quantity }}

            <i *ngIf="!product.isDone && !product.isServed" class="mx-1 text-warning fas fa-exclamation-circle"></i>
            <small *ngIf="!product.isDone && !product.isServed" class="text-warning font-weight-bold">PENDING</small>

            <i *ngIf="product.isDone && !product.isServed" class="mx-1 text-success fas fa-check"></i>
            <small *ngIf="product.isDone && !product.isServed" class="text-success font-weight-bold">READY</small>

            <i *ngIf="product.isDone && product.isServed" class="mx-1 text-info fas fa-check-double"></i>
            <small *ngIf="product.isDone && product.isServed" class="text-info font-weight-bold">SERVED</small>
          </td>
          <td class="align-middle text-right">{{ (product.product.price + (product.product.price * product.product.tax / 100)) * product.quantity | currency }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>TOTAL</strong>
            <strong class="float-right">{{ order.total | currency }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="rounded-0 text-muted card-footer d-flex justify-content-between align-items-center">
    <small>
      TOTAL PRODUCT(S): {{ sumProduct }}
    </small>
    <button [routerLink]="['/order/' + order.id + '/view']" class="btn btn-link p-0 font-weight-bold" matDialogClose>Go to the Order</button>
  </div>
</div>