<div class="d-flex align-items-center" style="height: 100vh">
  <div class="w-25 mx-auto bg-white shadow p-5 rounded">
    <div class="text-center">
      <img class="w-75 mb-3" src="https://discordapp.com/assets/e4923594e694a21542a489471ecffa50.svg">
    </div>    
    <form [formGroup]="form" autocomplete="off">
      <div class="form-group">
        <input placeholder="E-Mail" formControlName="email" class="form-control form-control rounded-pill text-center" [ngClass]="{ 'is-invalid': submitted && field.email.errors }"/>
        <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
          <div *ngIf="field.email.errors.required">The email field is required.</div>
          <div *ngIf="field.email.errors.email">The email field must be e-mail format.</div>
        </div>
      </div>
      <div class="form-group">
        <input placeholder="Password" formControlName="password" type="password" class="form-control form-control rounded-pill text-center" [ngClass]="{ 'is-invalid': submitted && field.password.errors }"/>
        <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
          <div *ngIf="field.password.errors.required">The password field is required.</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-sm btn-block btn-primary rounded-pill py-2 px-5" (click)="onSubmit(form)">{{ title }}</button>
        <small class="d-block mt-3"><a routerLink="/register">Do not you have an account? Register instantly.</a></small>
        <small class="d-block mt-1"><a routerLink="/register">Forget my password.</a></small>
      </div>
    </form>
  </div>
</div>