<div class="card rounded-0">
    <div class="card-body rounded-0" *ngIf="!orders.length">
      <div class="alert alert-info m-0 rounded-0" role="alert">
        There are no any resources to show here.
      </div>
    </div>
    <div class="card-body p-0" *ngIf="orders.length">
      <table class="table table-hover m-0">
        <thead>
          <tr>
            <th class="border-0" scope="col">#</th>
            <th class="border-0" scope="col">ORDER NAME</th>
            <th class="border-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr [routerLink]="['/order/' + order.id + '/view']" style="cursor: pointer" *ngFor="let order of orders; let i = index">
            <td class="align-middle">{{ i+1 }}</td>
            <td class="align-middle">{{ order.orderName }}</td>
            <td class="align-middle text-right">
              <i class="text-info fas fa-info-circle"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center text-muted rounded-0">
      <small>TOTAL ACTIVE ORDERS: {{ orders.length }}</small>
    </div>
  </div>