<h4>{{ order.orderName | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a class="text-info" routerLink="/orders">Orders</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ order.orderName }}</li>
  </ol>
</nav>

<div class="row mb-3">
  <div class="col">
    <a routerLink="/orders" class="btn btn-outline-secondary btn-sm">
      <i class="fas fa-chevron-left"></i> Back to List
    </a>
  </div>
  
  <div class="col text-right">
    <a [class.disabled]="!orderProducts.length" [routerLink]="['/order/' + order.id + '/complete']" class="btn btn-secondary btn-sm">
      Prınt the Order
    </a>
  
    <a *ngIf="!order.isPaid" [class.disabled]="!status || !orderProducts.length" [routerLink]="['/order/' + order.id + '/complete']" class="btn btn-info btn-sm ml-2">
      Complete This Order <span *ngIf="orderProducts.length">for {{ total | currency }}</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div *ngIf="!status" class="alert alert-warning rounded-0" role="alert">
      You cannot complete <strong>{{ order.orderName }}</strong>  since it's products are not ready. To complete this order, all product(s) which belongs to the order have to get ready.
    </div>
  </div>

  <div class="w-100"></div>

  <div class="col">
    <div class="card border-info rounded-0">
      <div *ngIf="!orderProducts.length" class="card-body rounded-0">
        <div class="alert alert-info m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div *ngIf="orderProducts.length" class="card-body rounded-0 p-0">
        <table class="table m-0">
          <thead>
            <tr>
              <th class="border-0" scope="col">TOTAL PRODUCTS IN CURRENT ORDER</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of orderProducts; let i = index">
              <td class="d-flex justify-content-between align-items-center">
                <div>
                  {{ i+1 }}.
                  {{ product.product.productName }} x {{ product.quantity }}

                  <i *ngIf="!product.isDone" class="text-warning fas fa-exclamation-circle ml-2 mr-1"></i>
                  <small *ngIf="!product.isDone" class="font-weight-bold text-warning">PENDING</small>

                  <i *ngIf="product.isDone" class="text-success fas fa-check-circle ml-2 mr-1"></i>
                  <small *ngIf="product.isDone" class="font-weight-bold text-success">DONE</small>
                </div>
                <div>
                  {{ (product.product.price + (product.product.price * product.product.tax / 100)) * product.quantity | currency }}
                  <i (click)="confirmProduct(product)" *ngIf="!product.isDone" style="cursor: pointer;" class="text-success fas fa-check-circle ml-2"></i>
                  <i (click)="onDelete(product)" *ngIf="!product.isDone" style="cursor: pointer;" class="text-danger fas fa-arrow-circle-right ml-2"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td class="d-flex justify-content-between align-items-center">
                <strong>TOTAL</strong>
                <strong>{{ total | currency }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center text-muted rounded-0">
        <small>TOTAL PRODUCTS IN CURRENT ORDER: {{ orderProducts.length }}</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div *ngIf="order.isPaid" class="alert alert-info m-0 rounded-0" role="alert">
      This order has been paid on <strong>{{ payment.createdAt | date }}</strong> for <strong>{{ payment.total | currency }}</strong> as <strong>{{ payment.paymentMethod?.name }}</strong>.
    </div>
    
    <div *ngIf="!order.isPaid" class="card border-info rounded-0">
      <div *ngIf="!products.length" class="card-body rounded-0">
        <div class="alert alert-info m-0 rounded-0" role="alert">
          There are no any resources to show here.
        </div>
      </div>
      <div *ngIf="products.length" class="card-body rounded-0 p-0">
        <table class="table table-hover m-0">
          <thead>
            <tr>
              <th class="border-0" scope="col">PRODUCTS</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer" (click)="onSubmit(product)" *ngFor="let product of products; let i = index">
              <td class="d-flex justify-content-between align-items-center">
                <div>
                  <i class="text-info fas fa-arrow-circle-left mr-2"></i>
                  {{ i+1 }}.
                  {{ product.productName }} x {{ product.quantity }}
                </div>
                <div>
                  {{ (product.price + (product.price * product.tax / 100)) | currency }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center text-muted rounded-0">
        <small>TOTAL PRODUCTS: {{ products.length }}</small>
      </div>
    </div>
  </div>
</div>