<h4>{{ title | uppercase }}</h4>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb bg-white p-0">
    <li class="breadcrumb-item"><a class="text-info" routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a class="text-info" routerLink="/payment-methods">Payment Methods</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

<a routerLink="/payment-methods" class="btn btn-outline-secondary btn-sm mb-3 px-5 py-2">
  <i class="fas fa-chevron-left"></i> Back
</a>

<form [formGroup]="form" autocomplete="off" class="w-50">
  <div class="form-group">
    <label>Payment Method Name</label>
    <input formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.name.errors }"/>
    <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
      <div *ngIf="field.name.errors.required">The payment method name field is required.</div>
      <div *ngIf="field.name.errors.maxlength">The payment method name field must be 45 characters at most.</div>
    </div>
  </div>
  <button class="btn btn-info btn-sm px-5 py-2 float-right" (click)="onSubmit(form)">Submit</button>
  <button class="btn btn-secondary btn-sm px-5 py-2 mr-2 float-right" (click)="reset(form)">Reset</button>
</form>